* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: open-sans, roboto, sans-serif;
  color: #fff;
}

body {
  background-image: url("../assets/christmas.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.headline {
  font-size: 4rem;
  margin-top: -10rem;
}

.timer {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin-top: 5rem;
}

.timer__item {
  text-align: center;
  font-weight: bold;
}
.timer__item span {
  display: block;
}

.timer__item__number {
  font-size: 5rem;
}


.image__credits {
  text-align: center;
  position: fixed;
  width: 100%;
  font-size: 1rem;
  bottom: 1rem;
}

.image__credits a {
  color: #FFFFFF;
}
